/* *********************** */
/* ===== General CSS ===== */
/* *********************** */

/* Width on the Page */
.pageWidth {
  width: 90vw; 
  margin:auto auto;
}

/* Clear inate padding and margin */
.clearBoxmodel {
  margin: 0px;
  padding: 0px;
}



/* ***************** */
/* ===== COLOR ===== */
/* ***************** */

/* Primary Text Color */
.primaryTextColor { color: #707070; }
.primaryThemeColor { color: #004AAD; }



/* ********************************** */
/* ===== FONTS AND TEXT STYLING ===== */
/* ********************************** */

/* FONT: Lato */
.latoFont { font-family: 'Lato', sans-serif; }

/* FONT: Barlow */
.barlowFont { font-family: 'Barlow', sans-serif; }

/* Make text Bold */
.bolderText { font-weight: bold; }

/* Main Headline */
.smabMainHeadline {
  font-size: 46px;
  padding-top: 150px;
  padding-bottom:75px;
}
/* Normal Headline */
.smabHeadliners { font-size: 28px; }

/* Normal Description Text */
.smabDescriptionText { font-size: 16px; }

/* Date and Author text */
.dateAndAuthorText { font-size: 13px; }



/* ************************* */
/* ===== IMAGE STYLING ===== */
/* ************************* */

/* Image Container for News Cards */
.imageContainer {
  float: left;
  margin-left: 10px;
  height: 210px;
  width: auto;
}

/* Fit the Image to the container */
.imageFitting {
  object-fit: fill; /* also try 'contain' and 'cover' */
  width: 100%;
  height: 100%;
  border-radius: 10%;
}


/* ===== SPECIFIC PAGE CSS ===== */

/* Home Page */
.backgroundImageHomePage {
  background-color: #837960;
  /* background-image: url("../../assets/images/evolvebackground.jpg"); */
  background-image: linear-gradient(to bottom , transparent, #837960), url("../../assets/images/evolvebackground.jpg");
  /* background-repeat: no-repeat; */
  object-fit: contain;
}

/* About Page */
.backgroundImageAboutPage {
  background-color: #837960;
  background-image: linear-gradient(to bottom , transparent, #837960), url("../../assets/images/aboutPageImage.png");
}


/* News page */
.NewsCardDarkmode {
  background-color: #837960;
  background-image: linear-gradient(to bottom , transparent, #837960), url("../../assets/images/AdobeStock_461343125.jpeg");
  object-fit: fill; /* also try 'contain' and 'cover' */
  width: 100%;
  height: 100%;
  border-radius: 10%;
}


.newsDarkcardContainer{
  float: left;
  height: 235px;
  width: auto;
}

/* Fit the Image to the container */
.newsDarkcardimageFitting {
  object-fit: fill; /* also try 'contain' and 'cover' */
  width: 100%;
  height: 100%;
  border-radius: 1%;
}